@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&display=swap');

h1 {
	font-weight: normal;
	font-size: 100px;
	color: #555;
	font-family: 'Rubik 80s Fade', cursive;
}
